<pre>{{ request | json}}</pre>

<div class="row">
	<button class="btn btn-primary pull-left" (click)="onPrevious()" [disabled]="isFirstStep()">Anterior</button>
	<button class="btn btn-primary pull-right" (click)="onNext()" [disabled]="isLastStep()">Siguiente</button>
</div>

<div *ngIf="currentStep == BookingWizardStep.StepOne">
	<my-booking-step1 [request]="request"></my-booking-step1>
</div>

<div *ngIf="currentStep == BookingWizardStep.StepTwo">
	<my-booking-step2 [request]="request"></my-booking-step2>
</div>
